* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.main {
  display: flex;
  align-items: center;
  margin: 50px;
  flex-direction: column;
  gap: 30px;
}

.link-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.link {
  border: 1px solid;
  width: 50px;
  font-size: 5px;
}
