* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Inter Tight,
    sans-serif;
}

body {
  font-family:
    Inter Tight,
    sans-serif;
}

img {
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  /* border: 1px solid; */
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.main {
  display: flex;
  align-items: center;
  margin: 50px;
  flex-direction: column;
  gap: 30px;
}

.link-ul {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
}

.link {
  /* border: 1px solid; */
  /* width: 50px; */
  /* width: 300px; */
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 200px;
  border-radius: 8px;
  align-content: space-around;
  justify-content: space-between;
  transition: all 0.5s ease;
  background: #f2f2f2;
}

.link:hover {
  background: #0071e3;
  color: white;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.more {
  border-radius: 8px;
  background: #0071e3;
  color: white;
  font-weight: 400;
  padding: 0 60px;
  width: 300px;
  font-size: 16px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
}

button {
  font-size: 14px;
}

button:hover {
  background: #005dbc;
}
